<%- include('./partials/header.ejs') %>

<body class="bg-slate-900">
  <main class="flex-col max-w-screen-sm text-center mx-auto">
    <h1 class="text-slate-100 my-12 font-bold text-3xl sm:text-6xl">YungBenn's Todos</h1>
    <div class="flex flex-col items-center">
      <% todos.forEach(todo=> { %>
        <div
          class="card w-full rounded-xl my-5 mx-5 px-6 text-lg flex justify-between items-center max-w-xs sm:max-w-xl">
          <p class="text-slate-100 sm:text-xl text-base"><%= todo.title %></p>
          <div class="flex items-center space-x-2">
            <form
              action="/<%= todo.id %>?_method=DELETE"
              method="POST"
              class="inline-flex">
              <button type="submit">
                <div class="items-center">
                  <svg
                    class="fill-blue-500 hover:fill-blue-700 w-[40px] h-[40px] sm:w-[50px] sm:h-[50px]"
                    viewBox="0 0 24 24"
                    fill=""
                    xmlns="http://www.w3.org/2000/svg">
                    <g id="style=fill">
                      <g id="check-box">
                        <path
                          id="Subtract"
                          fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M8 1.25C4.27208 1.25 1.25 4.27208 1.25 8L1.25 16C1.25 19.7279 4.27208 22.75 8 22.75L16 22.75C19.7279 22.75 22.75 19.7279 22.75 16L22.75 8C22.75 4.27208 19.7279 1.25 16 1.25L8 1.25ZM16.5303 10.0303C16.8232 9.73742 16.8232 9.26255 16.5303 8.96966C16.2374 8.67676 15.7626 8.67676 15.4697 8.96966L10.8434 13.5959C10.7458 13.6935 10.5875 13.6935 10.4899 13.5959L8.53033 11.6363C8.23744 11.3434 7.76256 11.3434 7.46967 11.6363C7.17678 11.9292 7.17678 12.4041 7.46967 12.697L9.42923 14.6565C10.1126 15.34 11.2207 15.34 11.9041 14.6565L16.5303 10.0303Z"
                          fill="" />
                      </g>
                    </g>
                  </svg>
                </div>
              </button>
            </form>
            <a href="/edit/<%= todo.id %> ">
              <svg
                class="fill-amber-500 hover:fill-amber-700 w-[40px] h-[40px] sm:w-[50px] sm:h-[50px]"
                viewBox="0 0 24 24"
                fill=""
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M16.19 2H7.81C4.17 2 2 4.17 2 7.81V16.18C2 19.83 4.17 22 7.81 22H16.18C19.82 22 21.99 19.83 21.99 16.19V7.81C22 4.17 19.83 2 16.19 2ZM10.95 17.51C10.66 17.8 10.11 18.08 9.71 18.14L7.25 18.49C7.16 18.5 7.07 18.51 6.98 18.51C6.57 18.51 6.19 18.37 5.92 18.1C5.59 17.77 5.45 17.29 5.53 16.76L5.88 14.3C5.94 13.89 6.21 13.35 6.51 13.06L10.97 8.6C11.05 8.81 11.13 9.02 11.24 9.26C11.34 9.47 11.45 9.69 11.57 9.89C11.67 10.06 11.78 10.22 11.87 10.34C11.98 10.51 12.11 10.67 12.19 10.76C12.24 10.83 12.28 10.88 12.3 10.9C12.55 11.2 12.84 11.48 13.09 11.69C13.16 11.76 13.2 11.8 13.22 11.81C13.37 11.93 13.52 12.05 13.65 12.14C13.81 12.26 13.97 12.37 14.14 12.46C14.34 12.58 14.56 12.69 14.78 12.8C15.01 12.9 15.22 12.99 15.43 13.06L10.95 17.51ZM17.37 11.09L16.45 12.02C16.39 12.08 16.31 12.11 16.23 12.11C16.2 12.11 16.16 12.11 16.14 12.1C14.11 11.52 12.49 9.9 11.91 7.87C11.88 7.76 11.91 7.64 11.99 7.57L12.92 6.64C14.44 5.12 15.89 5.15 17.38 6.64C18.14 7.4 18.51 8.13 18.51 8.89C18.5 9.61 18.13 10.33 17.37 11.09Z"
                  fill="" />
              </svg>
            </a>
          </div>
        </div>
      <% }); %>
    </div>
    <div class="add-icon flex flex-col items-center">
      <a href="/new" class="object-center">
        <svg
          class="fill-emerald-500 hover:fill-emerald-700 w-[50px] h-[50px] sm:w-[70px] sm:h-[70px]"
          viewBox="0 0 24 24"
          fill=""
          xmlns="http://www.w3.org/2000/svg">
          <g id="style=fill">
            <g id="add-circle">
              <path
                id="Subtract"
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M1.25 12C1.25 6.06294 6.06294 1.25 12 1.25C17.9371 1.25 22.75 6.06294 22.75 12C22.75 17.9371 17.9371 22.75 12 22.75C6.06294 22.75 1.25 17.9371 1.25 12ZM12 7.00738C12.4142 7.00739 12.75 7.34317 12.75 7.75739L12.75 11.25L16.25 11.25C16.6642 11.25 17 11.5858 17 12C17 12.4142 16.6642 12.75 16.25 12.75L12.75 12.75L12.75 16.2426C12.75 16.6568 12.4142 16.9926 12 16.9926C11.5857 16.9926 11.25 16.6568 11.25 16.2426L11.25 12.75L7.76476 12.75C7.35055 12.75 7.01476 12.4142 7.01476 12C7.01477 11.5857 7.35055 11.25 7.76477 11.25L11.25 11.25L11.25 7.75738C11.25 7.34317 11.5858 7.00738 12 7.00738Z"
                fill="" />
            </g>
          </g>
        </svg>
      </a>
    </div>
  </main>
</body>

<%- include('./partials/footer.ejs') %>
